body {
    background-image: url("https://img.freepik.com/premium-photo/food-background-vegetables-spices-pepper-mill-gray-stone-background-top-view-free-space-text_187166-19154.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.update-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 10px;
  }
  
  .update-button:hover {
    background-color: #555555;
    color: white;
  }
  
  /* Animate the label on focus */
form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: fade-in 0.5s forwards;
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

   input {
    padding: 10px;
    margin: 10px 0;
    width: 150vh;
    height: 10vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  