body {
    background-image: url("https://img.freepik.com/premium-photo/food-background-vegetables-spices-pepper-mill-gray-stone-background-top-view-free-space-text_187166-19154.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}