body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Add background color and center the text */
 h2, h3, p {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  color: #491744;
}
h1{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: rgb(128, 103, 152);
  animation: fade-in 2s ease-in-out;
  font-size: 42px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

body {
  background-color: #D2DBEF;
  background-image: url( 'https://t4.ftcdn.net/jpg/03/78/97/59/360_F_378975954_G39M4ptXAjxKy80gbBIEo0wqBkk89gBF.jpg');
  
  background-repeat: no-repeat;
  background-size: cover;
 
  backdrop-filter: blur(5px);
}

.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1.25rem;
  margin-top: 1.5rem;
}

/* Add some spacing between the elements */
section {
  margin: 20px 0;
}

/* Style the recipe cards */


.recipe:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.recipe img {
  width: 100%;
  height: 300px;

  object-fit: cover;
}

.recipe button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #5cb85c;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.recipe button:hover {
  background-color: #4cae4c;
}

.recipe .controls {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
}

.recipe .controls a {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #428bca;
  color: #fff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.recipe .controls a:hover {
  background-color: #3071a9;
}

/* Add a fade-in animation */
.fade-in {
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.recipe .first p{
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  color: #491744;
  font-size: 60px;
}