body {
    background-image: url("https://img.freepik.com/premium-photo/healthy-ingredients-white-wooden-desk_23-2148194994.jpg?w=2000");
    background-repeat: no-repeat;
    background-size: cover;
}