body {
    background-image: url("https://cdn.pixabay.com/photo/2018/04/28/08/27/menu-3356827_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
form {
    max-width: 600px;
    margin-top:20vh;
    margin-left:85vh ;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: fade-in 0.5s forwards;
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  input[type="text"], select {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  textarea {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  button:hover {
    background-color: #008CBA;
    color: white;
  }

  h1{
    color: #f3ebeb;
    font-size: 60px;
  }