body {
    background-image: url("https://t4.ftcdn.net/jpg/04/36/67/69/360_F_436676946_wJp3Vh8wQTC2W2prHGzq293Sqj5qfmTS.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-top: 1em;
  }
  
  input, textarea {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    max-width: 400px;
  }
  
  textarea {
    height: 100px;
  }
  
  button {
    margin-top: 1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    background-color: #2196F3;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .comment {
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 1em;
    padding: 1em;
  }
  
  .comment h3 {
    margin-top: 0;
  }
  
  .comment span {
    font-style: italic;
    font-size: 0.8em;
  }