body {
    background-image: url("https://t4.ftcdn.net/jpg/04/36/67/69/360_F_436676946_wJp3Vh8wQTC2W2prHGzq293Sqj5qfmTS.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}
