{% extends 'base.html' %}
{% block head_specifics %}
<link rel="stylesheet" href="{{ url_for('static', filename='/edit.css') }}">
{% endblock %}
{% block content %}

<h1>Edit recipe</h1>
<form action="/recipes/{{ recipe['id'] }}" method="POST">
  <label for="">Name:</label>
  <input type="text" name="name" value="{{ recipe['name'] }}">

  <label for="">Description:</label>
  <input type="text" name="description" value="{{ recipe['description'] }}"></input> 

  <label for="">Ingredients:</label>
  <input type="text" name="ingredients" value="{{ recipe['ingredients'] }}"></input> 

  <label for="">Instructions:</label>
  <input type="text" name="instructions" value="{{ recipe['instructions'] }}"></input> 

  <label for="">Image URL:</label>
  <input type="text" name="image_url" value="{{ recipe['image_url'] }}"></input> 

 
<label for="category">Category:</label>
<select id="category" name="category">

  <option value="meals">Meals</option>
  <option value="drinks" >Drinks</option>
  <option value="desserts" >Desserts</option>
  <option value="home fast food">HomeFastFood</option>

</select>



  <button class="update-button">Update recipe</button>
{% endblock %}