{% extends 'base.html' %}
{% block head_specifics %}
<link rel="stylesheet" href="{{ url_for('static', filename='/index.css') }}">
{% endblock %}
{% block content %}

<h1>EasyPeasy & YUMMY</h1>
<section class="head">
<h2>Recipe Sharing App</h2>

{% if current_user %}
<h3>Welcome to Recipe Sharing App {{ current_user['user_name'] }}</h3>

<p>Here, you can discover new recipes, share your own favorites, and connect with other food lovers. 
  Browse my collection of recipes, including classic favorites and exciting new ideas. Try out different cuisines, experiment with new ingredients, and find inspiration for your next meal.
  
  And if you have a recipe of your own to share, I'd love to hear it! Add your own creations to my database and see them shared with others.
  </p>
</section>
<section class="controls">
  <form action="/sessions/delete" method="POST">
    <button>Log out</button>
  </form>

  <a href="/recipes/new">Add your recipe </a>
</section>

<section class="recipes">
  {% for recipe in recipes %}
  <section class="recipe">
    <header>
      <h2>{{ recipe['name'] }}</h2>
      <p>Description: {{ recipe['description'] }}</p> 
      <p>Category: {{ recipe['category'] }}</p>  
      <p>Ingredients: {{ recipe['ingredients'] }}</p> 
      <p>Instructions: {{ recipe['instructions'] }}</p>

   <section class="">

      <form action="/recipes/{{ recipe['id'] }}/likes" method="POST">
        <input type="hidden" name="recipe_id" value="{{ recipe['id'] }}">
        <button type="submit">Like</button>
      </form>

      <form action="/recipes/{{ recipe['id'] }}/delete" method="POST">
        <button>Delete</button>
      </form>
      

    
   </section>
    
      <section class="controls">
        <a href="/recipes/{{ recipe['id'] }}/edit">Edit</a>
     
     
        
        <a href="/recipes/{{ recipe['id'] }}/review">Review</a>



      
        
        
      </section>
    </header>
    <div class="image-container">
      <img src="{{ recipe['image_url'] }}" alt=""> 

    </div>
    </section>
   
  
  
  {% endfor %}
</section>
{% else %}

<section class="first">



      <p>EasyPesy & YUMMY is a platform for discovering and sharing delicious recipes. Join our community to find inspiration for your next meal and share your own culinary creations!</p>

      <a href="/users/new">Sign up</a>
      <a href="/sessions/new">Log in</a>

 </section>
{% endif %}

{% endblock %}