{% extends 'base.html' %}
{% block head_specifics %}
<link rel="stylesheet" href="{{ url_for('static', filename='/index.css') }}">
{% endblock %}
{% block content %}

<h1>EasyPeasy & YUMMY</h1>

<h2>Recipe Sharing App</h2>

{% if current_user %}
<h3>Welcome to Recipe Sharing App {{ current_user['user_name'] }}</h3>

<section class="controls">
  <form action="/sessions/delete" method="POST">
    <button>Log out</button>
  </form>

  <a href="/recipes/new">Add your recipe </a>
</section>

<section class="recipes">
  {% for recipe in recipes %}
  <section class="recipe">
    <header>
      <h2>{{ recipe['name'] }}</h2>
      <p>Description: {{ recipe['description'] }}</p> 
      <p>Category: {{ recipe['category'] }}</p> 
      <p>Description: {{ recipe['description'] }}</p> 
      <p>Ingredients: {{ recipe['ingredients'] }}</p> 
      <p>Instructions: {{ recipe['instructions'] }}</p>
    </header>
    <form action="/recipes/{{ recipe['id'] }}/likes" method="POST">
      <input type="hidden" name="id" value="{{ recipe['id'] }}">
      <button type="submit">Like</button>
  </form>
    {% if user == recipe['user_id'] %}
      <section class="controls">
        <a href="/recipes/{{ recipe['id'] }}/edit">Edit</a>
      </section>
      {% endif %}
        <section class="controls">
        <a href="/recipes/{{ recipe['id'] }}/review">Review</a>
        
        
      </section>
      <img src="{{ recipe['image_url'] }}" alt=""> 
  </section>
  {% endfor %}
</section>
{% else %}

<section class="first">
      <p>EasyPesy & YUMMY is a platform for discovering and sharing delicious recipes. Join our community to find inspiration for your next meal and share your own culinary creations!</p>

      <a href="/users/new">Sign up</a>
      <a href="/sessions/new">Log in</a>

 </section>
  {% endif %}

{% endblock %}