{% extends 'base.html' %}
{% block head_specifics %}
<link rel="stylesheet" href="{{ url_for('static', filename='/index.css') }}">
{% endblock %}
{% block content %}

<h1>EasyPeasy & YUMMY</h1>

<h2>Recipe Sharing App</h2>

{% if current_user %}
<h3>Welcome to Recipe Sharing App {{ current_user['user_name'] }}</h3>

<section class="controls">
  <form action="/sessions/delete" method="POST">
    <button>Log out</button>
  </form>

  <a href="/recipes/new">Add your recipe </a>
</section>

<section class="recipes">
  {% for recipe in recipes %}
  <section class="recipe">
    <header>
      <h2>{{ recipe['name'] }}</h2>
      <p>Description: {{ recipe['description'] }}</p> 
      <p>Category: {{ recipe['category'] }}</p> 
      <p>Description: {{ recipe['description'] }}</p> 
      <p>Ingredients: {{ recipe['ingredients'] }}</p> 
      <p>Instructions: {{ recipe['instructions'] }}</p>
   
      <form action="/recipes/{{ recipe['id'] }}/likes" method="POST">
        <input type="hidden" name="recipe_id" value="{{ recipe['id'] }}">
        <button type="submit">Like</button>
      </form>
    
      <section class="controls">
        <a href="/recipes/{{ recipe['id'] }}/edit">Edit</a>
     
     
        
        <a href="/recipes/{{ recipe['id'] }}/review">Review</a>
        
        
      </section>
    </header>
      <img src="{{ recipe['image_url'] }}" alt=""> 
    </section>
   
    <div class="comments">
      {% for comment in add_review_recipe %}
        <div class="comment">
          <h3>{{ comment.user_name }}</h3>
          <p>{{ comment.comment }}</p>
          <span>Rating: {{ comment.rating }}/5</span>
        </div>
        {% endfor %}
      
    </div>
  
  {% endfor %}
</section>
{% else %}

<section class="first">
      <p>EasyPesy & YUMMY is a platform for discovering and sharing delicious recipes. Join our community to find inspiration for your next meal and share your own culinary creations!</p>

      <a href="/users/new">Sign up</a>
      <a href="/sessions/new">Log in</a>

 </section>
{% endif %}

{% endblock %}