{% extends 'base.html' %}

{% block content %}
<h1>Add Recipe</h1>
<form action="/recipes" method="POST">
  <label for="">Name:</label>
  <input type="text" name="name">

  <label for="">Description:</label>
  <input type="text" name="description">

  <label for="">Ingredients:</label>
  <input type="text" name="ingredients">

  <label for="">Instructions:</label>
  <input type="text" name="instructions">

  <label for="">Image URL:</label>
  <input type="text" name="image_url">

  <button>Add recipe</button>
</form>
{% endblock %}