{% extends 'base.html' %}
{% block head_specifics %}
<link rel="stylesheet" href="{{ url_for('static', filename='/review.css') }}">
{% endblock %}
{% block content %}

<h1>review recipe</h1>

<form action="/recipes/{{ recipe.id }}/reviews" method="POST">
    <label for="user_name">Your Name:</label>
    <input type="text" id="user_name"  name="user_name">
    
    <label for="rating">Rating (out of 5):</label>
    <input type="number" id="rating" name="rating">
  
    <label for="comment">Comment:</label>
    <textarea id="comment" name="comment"></textarea>
    </select>

  
    <button type="submit">Submit</button>
  </form>
  
  {% for review in reviews %}
  <div class="comment">
    <h3>User: {{ review['user_name'] }}</h3>
    <p>Comment: {{ review['comment'] }}</p>
    <span>Rating: {{ review['rating'] }}/5</span>
  </div>
  {% endfor %}


  {% endblock %}