{% extends 'base.html' %}
{% block head_specifics %}
<link rel="stylesheet" href="{{ url_for('static', filename='/users.css') }}">
{% endblock %}
{% block content %}
<h1>Create an Account</h1>
<form action="/users" method="POST">
  <strong></strong><label for="">First Name:</label>
  <input type="text" name="first_name">

  <strong></strong><label for="">Last Name:</label>
  <input type="text" name="last_name">

  <strong></strong><label for="">Email:</label>
  <input type="text" name="email">

  <strong></strong><label for="">Username:</label>
  <input type="text" name="user_name">

  <strong></strong><label for="">Password:</label>
  <input type="password" name="password">


  <button>submit</button>
</form>
{% endblock %} 